html{
  
   display: flex;
    width: 100%;
   
    
    
}
body{
    display: flex;  
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}


#caja-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
    border: black solid 3px;
    border-radius: 15px;
    margin-top: 40px;
    background-color: #CD5C08;
    

}

#caja-input{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 60px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#input{
    width: 400px;
    height: 30px;
    border: solid 2px black;
    margin-right:10px ;
    border-radius: 5px 0 0 5px;
    background-color: #F5E8B7;
    font-size: 20px;
    font-weight: bold;
}

#btn-agregar{
    width:20%;
    border-radius: 0 5px 5px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: #6A9C89;
    color: white;
}

#caja-lista{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 95%;
    min-height: 90%;
    border: solid black 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    background-color: #F5E8B7;
}


.item-list{
    display: flex;
    width: 95%;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    border: solid black 2px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #C1D8C3;
}

.contenido-texto{
    width: 80%;
    margin-left: 15px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: middle;
}

.btn-eliminar{
    width: 20%;
    margin: 5px;
    border: solid black 2px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: #6A9C89;
    color: white;
}

